/*  Colores Primarios */

:root{
    --soft_blue:hsl(215, 51%, 70%);
    --cyan: #00fff7;
    --dark-blue-main:#0d192b;
    --dark-blue-card:hsl(216,50%,16%);
    --dark-blue-line:hsl(215,32%,27%);
    --size-p:18px; 
}
html{
    box-sizing: border-box;
    font-size: 62.5%;
}
*{
    font-family: 'Outfit', sans-serif;
}
body{
    background-color: var(--dark-blue-main);
    
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card{
    background-color: var(--dark-blue-card);
    width: 325px;
    margin:0 auto;
    border-radius: 15px;
    box-shadow: 10px 10px 15px 10px #09111d;
    overflow: hidden;
    padding-top: 20px;
}
.card-header{
    width: 90%;
    display: block;
    margin: 0 auto;
    position: relative;
}
.card-header::before{
    content: url(./image/icon-view.svg);
    background-color: hsla(178, 100%, 50%, 0.501);;
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: all 0.25s ease;
    
}
.card-header:hover::before{
    opacity: 1;
    
}
.card-header img{
    width: 100%;
    border-radius: 5px;
    object-fit:cover;
    
}


.card-body{
    margin: 0 16.250px;
}

.card-body h1{
    color: white;
    margin-bottom: 10px;
    font-size: 1.8rem;
}

.body-text{
    font-size: 1.8rem;
    color: rgb(167, 167, 167);
    text-align:left;
    margin-bottom: 15px;
}
.icons{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.icons .equil{
    display: flex;
    align-items: center;    
}
.ciam{
    color: var(--cyan);
    font-size: 1.3rem;
}
.icons .equil img,.icons .clok img{
    margin-right: 7px;
}
.icons .clok{
    display: flex;
    align-items: center;    
}
.icons .clok p{
    color:rgb(167, 167, 167);
    font-size: 1.4rem;
}

.footer{
    border-top: 0.3px solid var(--dark-blue-line);
}
.footer{
    font-size: 1.3rem;
    color:rgb(189, 186, 186) ;
    display: flex;
    align-items: center;
    padding-bottom: 10px;

}
.footer h3{
    font-size: 1.3rem;
    font-weight: 300;
}
.footer .content-img{
    width: 30px;
    height: 30px;
    border:1px solid white;
    border-radius: 100%;
    margin-right: 10px;

}
.content-img img{
    width: 100%;
}
.destacado{
    color: white;
    margin-left: 4px;
}

.destacado:hover, .destacar:hover{
    color: var(--cyan);
}
