/*  Colores Primarios */

:root{
    --soft_blue:hsl(215, 51%, 70%);
    --cyan: #00fff7;
    --dark-blue-main:#0d192b;
    --dark-blue-card:hsl(216,50%,16%);
    --dark-blue-line:hsl(215,32%,27%);
    --size-p:18px; 
}
*{
    font-family: 'Outfit', sans-serif;
}
body{
    background-color: var(--dark-blue-main);
    
}


.card{
    background-color: var(--dark-blue-card);
    width: 848px;
    height: 1508px;
    margin:0 auto;
    border-radius: 15px;
}

.card-header{
    width: 744px;
    height: 990px;
    display: flex;
    margin: 0 auto;
}

.card-header img{
    width: 100%;
    border-radius: 29px;
    margin-top: 20px;
    object-fit: cover;
}
.card-body{
    padding: 20px;
}

.card-body h3{
    color: white;
    margin-bottom: 10px;
    font-size: 48px;
}

.body-text{
    font-size: 15px;
    color: rgb(167, 167, 167);
    text-align:left;
    margin-bottom: 15px;
    font-size: 40px;
}
.icons{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
}
.icons .equil{
    display: flex;
    align-items: center;    
}
.ciam{
    color: var(--cyan);
    font-size: 30px;
}
.icons .equil img,.icons .clok img{
    margin-right: 7px;
    width: 40px;
}
.icons .clok{
    display: flex;
    align-items: center;    
}
.icons .clok p{
    color:rgb(167, 167, 167);
    font-size: 30px;
}

.footer{
    border-top: 0.3px solid var(--dark-blue-line);
}
.footer{
    font-size: 25px;
    color:rgb(189, 186, 186);
    display: flex;
    align-items: center;
}
.footer h6{
    font-size: 25px;
    font-weight: 300;
}
.footer .content-img{
    width: 66px;
    height: 66px;
    border:1px solid white;
    border-radius: 100%;
    margin-right: 25px;
}
.content-img img{
    width: 100%;
}
.destacado{
    color: white;
    margin-left: 12px;
}

@media (min-width: 1250px){
    .card{
        box-shadow: 10px 10px 15px 10px #09111d;
    }
    
}
@media (max-width:320px){
    /*.card{
        width: 80%;
        height: auto;
    }*/
    
}
